<!-- obsolete Jonah B  2/2/15 9:50 AM -->
<h1><?= $title ?></h1>
<div class="clear">
<div class="left">
    <table cellspacing="0" cellpadding="0" class="home-based-reporting-table home-based-reporting-table-hours">
    <thead>
    <tr>
        <td rowspan="2"></td>
        <td colspan="4">Total Number of Volunteers</td>
        <td colspan="4">Total Volunteer Hours by Program</td>
        <td rowspan="2">Active Greenwire Users</td>
    </tr>
    <tr>
        <td>1s</td>
        <td>2s</td>
        <td>3s</td>
        <td>Total (1s, 2s, &amp; 3s)</td>	
        <td>NAN</td>
        <td>Field</td>
        <td>Frontline</td>
        <td>Total Hours (All Programs)</td>
    </tr>
    </thead>
    <tbody>
<?php

    $row_count = 0;
    foreach ($data AS $month => $row_data)
    {
        $row_count++;
        $row_style = '';
        $classes = array();
        if ($row_count % 2 == 0)
            $classes[] = 'even';
        if ($month == 'total')
            $classes[] = 'total';
        if (!empty($classes))
            $row_style = ' class="'.implode(' ', $classes).'"';
?>    
    <tr<?php print $row_style; ?>>
        <td><?php print $month_label[$month]; ?></td>
<?php

        foreach ($row_data AS $cell_data)
        {
?>
        <td><?php print $cell_data; ?></td>
<?php
        }

?>
    </tr>
<?php
    }
?>
    </tbody>
    </table>
</div>
<!-- table chaperts was here Jonah B  2/2/15 9:51 AM -->
</div>
<?php

if (empty($_REQUEST['headers'])) {
    show_footer();
}