<div class="left" id="top10Chapter.phtml">
    <table cellspacing="0" cellpadding="0" class="home-based-reporting-table home-based-reporting-table-chapters">
    <thead>
    <tr>
        <td colspan="2">Top 10 Greenwire Chapters</td>
    </tr>
    <tr>
        <td>Chapter</td>
        <td>People</td>
    </tr>
    </thead>
    <tbody>
<?php

    for ($i = 0; $i < count($rows); $i++)
    {
        $row_style = '';
        if (($i + 1) % 2 == 0)
            $row_style = ' class="even"';
?>
    <tr <?php print $row_style; ?>>
        <td><?php print $rows[$i]['name']; ?></td>
        <td><?php print $rows[$i]['Total']; ?></td>
    </tr>
<?php
    }
?>
    </tbody>
    </table>
</div>   