<tr>
  <td>Report</td>
  <td nowrap> <?= $this->title ?> <a class="reportMe" href="<?= $this->_controller ?>?action=show_report&report_id=<?= $this->id ?>">View &gt;&gt;</a></td>
  <td></td>
  <td nowrap></td>
</tr>
