<div class='searchWrapper'>

    <form action="<?= $PHP_SELF ?>" method="GET" name="form" class='form-inline' role='search'>
        Filter:
        <div class="form-group">
        <select name="filterField" class='form-control'>
        <?php foreach($this->tbl AS $field=>$info) {
            unset($selected);
            if($_REQUEST['filterField']==$field) $selected = "selected";
            ?>
            <option name="<?= strip_tags($field) ?>" <?= $selected ?> ><?= strip_tags($field) ?></option>
        <? } ?>
        </select>
        </div>
        <div class="form-group">
         <input type="text" name="filterValue" class='form-control medium' value="<?= strip_tags($_REQUEST['filterValue']) ?>" placeholder='Search' />
        </div>
        <input type="hidden" name="action" value="<?= strip_tags($_REQUEST['action']) ?>" />
        <input type="hidden" name="table" value="<?= strip_tags($_REQUEST['table']) ?>" />
        <button type="submit" class="btn btn-default">Search</button>
     </form>
 </div>