        <table class="list table" id="showTableHeader">
                    <thead>
                      <tr class="reverse">
                      <?php if(!$this->hideActionCell) { ?>
                        <th class="HeaderRow">Action</th>
                        <? } ?>
                        <?
                        if($row) {
                            foreach($row as $f=>$v) {
                                if(is_numeric($f)) $f = $v;
                              if(!in_array($f,$this->_hiddenFields)) { ?>
                                <th class="HeaderRow"><?= $browse->getSortHeader($this->camelcaps($f),$f); ?></th>
                           <? }
                            }
                        }
                        ?>
                        </tr>
                    </thead>
                    <tbody>  
            